.content {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 400px;
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}