@media (min-width: 1440px) {
    @keyframes background-animation {
        0% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    body {
        background-color: #ff891c;
        background-image: url(../img/TigerPawBackground.png);
        background-size: 80px;
        animation: background-animation 20s linear infinite;
    }
}