@font-face {
    font-family: PlayfairDisplay-Italic;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: FiraSans-ExtraBoldItalic;
    src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: TenorSans-Regular;
    src: url(../fonts/TenorSans-Regular.ttf);
}

.navigation-bar a {
    font-family: TenorSans-Regular;
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.main-content-text {
    color: #fff;
}

.main-content-text h1 {
    font-family: FiraSans-ExtraBoldItalic;
    font-size: 6em;
}

.main-content-text p,
.content-text p {
    font-family: TenorSans-Regular;
}

.content-text h1 {
    font-family: PlayfairDisplay-Italic;
    font-size: 5em;
}