/* General CSS for the RoarMore website */
/* Note: only put general here


/* General */
    /* Body (default) */
    body {
        background-color: #FAF3E1;
        margin: 0;
        padding: 0;
    }

    /* Fonts */
    @font-face {
        font-family: PlayfairDisplay-Italic;
        src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: FiraSans-ExtraBoldItalic;
        src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
    }

    @font-face {
        font-family: TenorSans-Regular;
        src: url(../fonts/TenorSans-Regular.ttf);
    }
    

    /* Navigation Bar */
        .navigation-bar {
            background-color: #080808e5;
            overflow: hidden;
        }

        .navigation-bar a {
        font-family: TenorSans-Regular;
        color: #fff;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        }

        .navigation-position {
            display: flex;
            align-items: center;
        }

        .navigation-position a {
            display: block;
            padding: 14px 16px;
            text-decoration: none;
            color: black;
        }
        
        .navigation-position nav {
            margin-left: auto;
            display: flex;
            align-items: center;
        }

    /* footer */
    footer {
        background-color: #080808e5;
        color: white;
        text-align: center;
        padding: 10px;
        font-family: TenorSans-Regular;
    }