/* Desktop */
@media (min-width: 1440px) {
/* Animation */
    .content {
        scale: .8;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 100px 400px;
    }

    .banner {
        background-color: #ff891c;
        background-image: url(../img/TigerPawBackground.png);
        background-size: 80px;
        padding: 12% 0% 10% 5%;
        animation: background-animation 20s linear infinite;
    }

    @keyframes fade-in {
        to {
            scale: 1;
            opacity: 1;
        }
    }

    @keyframes background-animation {
        0% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


/* Background */
    #content-a {
        background-image: url('../img/landing_page_contentA_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-box-shadow: -1px -4px 13px 0px rgba(0,0,0,0.5); 
        box-shadow: -1px -4px 13px 0px rgba(0,0,0,0.5);
    }
    #content-b {
        background-color: #F5E7C6;
    }

/* Fonts */
    @font-face {
        font-family: PlayfairDisplay-Italic;
        src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: FiraSans-ExtraBoldItalic;
        src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
    }

    @font-face {
        font-family: TenorSans-Regular;
        src: url(../fonts/TenorSans-Regular.ttf);
    }

    .main-content-text {
        color: #fff;
    }

    .main-content-text h1 {
        font-family: FiraSans-ExtraBoldItalic;
        font-size: 6em;
    }

    .main-content-text p,
    .content-text p {
        font-family: TenorSans-Regular;
    }

    #content-a .content-text h1, #content-c .content-text h1 {
        font-family: PlayfairDisplay-Italic;
        font-size: 5em;
        color: #fff;
    }
    #content-a .content-text p {
        color: #fff;
    }

/* Banner */
    .main-content,
    .content {
        display: flex;
    }

    .content-text {
        padding: 5%;
    }

    .content-text {
        text-align: left;
    }

    #content-a .content-text a,
    #content-c .content-text a {
        background-color: #F5E7C6;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
    }

    #content-b .content-text a {
        background-color: #FAF3E1;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
    }

    .content-image-background {
        margin: 5% 10% 5% 5%;
        background-color: #F5E7C6;
        -webkit-border-radius: 10px;
        border-radius: 50px 50px 50px 50px;
    }

    #content-b .content-image-background {
        margin: 5% 10% 5% 5%;
        background-color: #FAF3E1;
        -webkit-border-radius: 10px;
        border-radius: 50px 50px 50px 50px;
    }

    .main-content-image img,
    .content-image img {
        height: 50vh;
        width: auto;
    }


}


/* Phone */
@media (max-width: 600px) {
    header {
        margin: 10px;
    }

    .navigation-bar {
        overflow: hidden;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .navigation-position {
        display: flex;
        align-items: center;
    }

    .navigation-position a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
    }

    .navigation-position nav {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .navigation-position nav a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
    }
}